/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable*/

/* ===== BASE STYLES ===== */

/* 
  Try to use bases 18px, ratios 1.2 "minor third"  
  http://www.modularscale.com/?18&px&1.2&web&text
*/
html {
  font-size: 1.125em;  /* 18px  18/16=1.125 */
  line-height: 1.2;   /* ratios 1.2 ->21.6px*/
  background-color: white;
  padding: 16px 10px;  /* */
}
h1 {
  /* font-size: 2.074em; /* 37.325px/18px */
  font-size: 1.728em;  /* 31.104px */
  line-height: 1.2;  /* ratio 1.2->37.325 */
  padding-bottom: 0.5em;
}
h2 {
  font-size: 1.44em; /* 25.92ppx/18=1.44 */
  line-height: 1.2;
  padding-bottom: 0.5em;
}
nav {
  /*font-size: 0.889em; /* 16px/18px=0.889em */
  /*line-height: 1em; */
  /* color from http://www.colourlovers.com/color/C4A79F/Hint_of_spice */
  padding: 0.333em; /* 6px/18=0.333 */
  background-color: #C4A79F; 
}

p {
  padding-bottom: 1.5em;  /* 32px, based on 1.5 line, 21.375x1.5 */
}
video {
  width: 80%;
  padding-bottom:0.556em; /* 10/18=0.556 */
}
footer {
  font-size: 0.694em; /* 12.5/18=0.694 */
  background-color: #C4A79F;
}
/* ===== MODULAR STYLES ===== */
nav ul {
  padding:0.556em;
}
h2 a  {
  font-size:0.694em; /* 18px/25.92=0.694 */
}
/* ===== STATE STYLES ===== */