/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable*/

/* ===== BASE STYLES ===== */

html {
  font-size: 1.125em;   /* 18px  18/16=1.125 */
  line-height: 1.222em;    /* 22px  22/18=1.222 */
  padding: 1.222em 0.8em;   /* 22px=1.222em, 11px  11/18=0.611 */
  background-color: #1e2e41;
}
h1 {
  font-size: 1.728em; /* 31.104px  1.728em @18px */
  line-height: 1.222em ; /* 38px, 1.222em @31.104px */
  padding-bottom: 0.354em;  /* 11px 0.354em @ 31.104px */
}
h2 {
  font-size: 1.44em; /*  25.92px, 1.44em @ 18px*/
  line-height: 1.196em; /* 31px 1.196em @25.92px */
  padding-bottom: 0.424em; /* 11px 0.424em @25.92px */
  font-style: italic;
  /* color: #1e2e41; */
}
header {
  font-weight: bold;
  font-style: italic;
  background-color: #545a61;
  color: #ffffff;
}

nav {
  font-size: 0.833em;  /* 15px  0.833em @ 18px */
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
p {
  padding-bottom: 1.444em; /* 1.2 grid line 26px, 1.444em @ 18PX*/
}
video {
  width: 80%;
  padding-bottom: 0.611em; /* 11px, 0.611em @ 18px */
}
footer {
  font-size: 0.694em; /* 12.5px 0.694em @ 18px*/
  line-height: 1.2em;  /* 15px 1.2em @ 12.5px  */
  background-color: #C4A79F;
  text-align: center;
  border: 0.08em solid #ddd; /* 1px 0.08em */
  padding: 0.8em; /* 10px 0.8em @ 12.5px */
  border-radius: 0.4em;  /* 5px 0.4em @ 12.5px */
}
h2 a {
  font-size: 0.482em; /* 12.5px 0.482em @ 25.92px */
}
/* ===== LAYOUT STYLES ===== */
.header {
  border: 0.056em solid #ddd;  /* 1px 0.056em @ 18px */
  margin-bottom: 1.222em;      /* 22px 1.222em @ 18px */
  padding: 0.611em 0.333em;    /* 11px 0.611em @ 18px,   6px 0.333em @6px */
  border-radius: 0.278em;      /* 5px 0.278em @ 18px */
}
.main {
  background-color: #acccf1;
  border: 0.056em solid #ddd;  /* 1px 0.056em @ 10px */
  padding: 0.611em;            /* 11px 0.611em @ 18px */
  border-radius: 0.278em;      /* 5px 0.278em @ 18px */
}
.h-card {
  font-size: 0.889em;      /* 16px 0.889em @ 18px*/
  padding-bottom: 0.611em; /* 11px 0.611em @ 18px */
}
.p-skill {
  padding-bottom: 0.611em; /* 11px 0.611em @ 18px */
}
nav  li {
  display: inline;
  padding: 0.133em;  /* 2px 0.133em @ 15px */
}
nav a {
  display: inlin-block;
  text-decoration: none;
}
.p-skill li, .p-education li {
  list-style-type: disc;
  padding-left: 0.611em;  /* 11px 0.611em @ 18px */
  list-style-position: inside;
}
.p-experience ul {
  padding-left: 0.611em;  /* 11px 0.611em @ 18px */
}
.exp-list, .edu-list {
  padding-bottom: 0.611em; /* 11px 0.611em @ 18px */
}
.exp-list li {
  list-style-type: disc;
  list-style-position: inside;
}
.exp-title {
  font-weight: bold;
}
.exp-comp, .edu-school {
  color: #ffffff;
  background-color: #8d6a0b;
  padding: 0.333em;       /* 6px 0.333em @ 18px */
  margin-bottom: 0.333em; /* 6px 0.333em @ 18px */
}
/* ===== MODULAR STYLES ===== */
/* ===== STATE STYLES ===== */
