/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable*/

/* ===== BASE STYLES ===== */

/* 
  Try to use bases 18px, ratios 1.2 "minor third"  
  http://www.modularscale.com/?18&px&1.2&web&text
*/
html {
  font-size: 1.125em;  /* 18px  18/16=1.125 */
  line-height: 1.2em;  /* 22px 22/18=1.222 */
  padding: 1em 0.5em;  /* TB: 1 grid line 22px, RL: 05 grid line 11px */
}
h1 {
  font-size: 1.728em;  /* 3 sizes up 31.104px */
  line-height: 1.061em;    /* 1.5 grid line 33px, 33/31.104=1.061 */
  padding-bottom: 0.322em;  /* 10px  10/31.104=0.322 */
}
h2 {
  font-size: 1.44em; /* 2 sizes up 25.92px/18=1.444 */
  line-height: 1.44em;  /* 1.2 grid line 26px, 26/18=1.444 */
  padding-bottom: 0.386em; /* 10px 10/25.92= */
}
h3,h4 {
  font-size: 1.2em; /* 1 size up 21.6px 21.6/18=1.2 */
  padding-bottom:0.6111em; /* 11px 11/18=0.556 */
}
h4 {
  padding-left: 0.833em; /* 18px 18/21.6=0.833 */
}
nav {
  /* color from http://www.colourlovers.com/color/C4A79F/Hint_of_spice */
  margin-left: 0;  /* want it all the way to the left, but doesn't work */
  background-color: #C4A79F;
  /*padding: 0.333em; /* 6px/18=0.333 */
}
p {
  padding-bottom: 1.444em;  /* 1.2 grid line, 26px 26/18= */
}
video {
  width: 80%;
  padding-bottom:0.6111em; /* 11px 11/18=0.611 */
}
footer {
  font-size: 0.694em; /* 12.5/18=0.694 */
  background-color: #C4A79F;
}
.header {
  padding-bottom: 0.611em; /*0.5 gridline 11px 11/18= */
}
/* ===== MODULAR STYLES ===== */
nav ul {
  padding:0.611em;  /* 11px  */
}
h2 a  {
  font-size:0.694em; /* 18px/25.92=0.694 */
}
.exp-list{
  padding-left: 1em; /* 18/18=1 */
  padding-bottom:0.611em; /* 11/18=0.611 */
}
.exp-list li {
  padding-bottom:0.611em; /* 11/18=0.611 */
}
/* ===== STATE STYLES ===== */